<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_EmployeeService" />
                <binding name="BasicHttpBinding_EmployeeService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59066/HostDevServer/EmployeeService.svc/ep1"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_EmployeeService"
                contract="EmployeeServiceProxy.EmployeeService" name="BasicHttpBinding_EmployeeService" />
            <endpoint address="http://localhost:59066/HostDevServer/EmployeeService.svc/ep2"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_EmployeeService1"
                contract="EmployeeServiceProxy.EmployeeService1" name="BasicHttpBinding_EmployeeService1" />
        </client>
    </system.serviceModel>
</configuration>